

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    width: calc(100% - 38px);
    
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}

.search-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.search-wrapper > input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #000000;
    width: 313.31px;   
}

.search-wrapper > img {
    padding-bottom:1px;
    margin-bottom: 1px;
}


@media only screen and (min-width:790px) {

    

    .nav-container {
        margin-left: 20px;
    }


    .button-wrapper {
        width: 680px;
        /* position: absolute; */
        margin-top: 0;
     }

    .search-wrapper {
        position: absolute;
        padding-left: 10px;
       
    }

    .search-box {
        padding-top: 3px;
    }

    .sortingIcon {
        /* margin-left: 10px;
        margin-right: 10px; */
    }

    .toggle-button {

    }
    

}

@media only screen and (min-width:390px) {

    .nav-container {
        display: flex;
        align-items: baseline;
    }

    .search-wrapper {
        width: 310px;
        margin-left: 25px;
        padding-top: 20px;
    }

    .search-wrapper > img {
        border-bottom: 2px solid black;        
        width: 17.58px;
        height: 17.25px;
        /* padding-bottom: 2px; */
    }
   

    .button-wrapper {
        margin-top: 20px;
        /* width: 310px; */
    }

    .toggle-button {
        width: 20px;
        height: 18.8px;
    }
    
    .sortingIcon {
        width: 29.97px;
        height: 23px;
      }
    
}
