

.searchbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    width: calc(100% - 38px);
    
} 

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    margin-bottom: 10px;    
}

.search-wrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3px;
    
}

.search-wrapper > img {
    margin-top: 3px;
}

.search-wrapper > input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #000000;
    width: 313.31px;
    font-size: 15px;
    
}

@media only screen and (min-width:790px) {    


    .searchbox {
        margin-left: 20px;
        display: flex;
        align-items: baseline;
    }


    .button-wrapper {
        width: 690px;
     }

    .search-wrapper {
        position: absolute;
        margin-left: 25px;
       
    }

    .search-box {
        padding-top: 3px;
    }  
     

}

@media only screen and (min-width:390px) {
    

    .search-wrapper {
        width: 309px; 
        padding-top: 20px;
    }

    .search-wrapper > img {
        border-bottom: 2px solid black;        
        width: 17.58px;
        height: 17.25px;
    }
   

    .button-wrapper {
        margin-top: 25px;
    }

      
    .sortingIcon {
        width: 29.97px;
        height: 23px;    
      }
    
}
